.app-brand {
  --app-brand-size: 6rem;

  width: var(--app-brand-size);
  height: var(--app-brand-size);
  color: var(--interactive);
  flex-shrink: 0;
}

.app-brand--small {
  --app-brand-size: var(--icon-xl);
}

.app-brand--large {
  --app-brand-size: 10rem;
}
